--#headerBlock {
    background: #000 url(https://static.ex-in.online/users/2/20628/fon1_5c531237.jpg) no-repeat 30% 40%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
ul.footer_class {
  list-style: none;
  text-align: left;
  padding: 0px 0px 0px 0px;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 24px 0px;
}
ul.footer_class li {
  list-style: none;
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 10px 0px;
}
ul.footer_class li a {
  color: #cfcfcf;
  text-decoration: none;
}
ul.footer_class li a:hover {
  color: #d57787;
}
ul.footer_class ul {
  padding: 16px 0px 0px 0px;
  font-size: 16px;
  font-weight: 300;
}
ul.footer_class ul li a {
  color: #818492;
}

.null {
  height: 0px;
  min-height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  clear: both;
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  ul.footer_class {
  }
}
@media only screen and (min-width: 1024px) {
  ul.footer_class {
  }
}


__body {
  background: #818492;
}

/*.wrapper-slider {*/
    /*width: 1200px;*/
/*}*/

.workspace {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  position: relative;
}
#promotion .pro {
  padding: 64px 0px 24px 0px;
  position: relative;
}
.promotion_title {
  color: #242424;
  font-size: 2.2em;
  margin: 0px 0px 44px 0px;
  font-weight: 900;
  text-align: center;
}
.lSSlideWrapper {margin-bottom: 10px;}
#promotion ul.slides li a {color: #ebecf0;}
#promotion ul.slides li a div.cont {width: 340px; height: 340px; margin: 0px auto 0px auto; position: relative;}
#promotion ul.slides li:hover a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform: translateY(0);transform: translateY(0);}
#promotion ul.slides li a div.cont div.text div.inner {padding: 16px; text-align: center; font-size: 15px;}
#promotion ul.slides li a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform:translateY(110px);transform:translateY(110px); -webkit-transition:.4s;transition:.4s}
#promotionx ul.slides li a {color: #ebecf0;}
#promotionx ul.slides li a div.cont {width: 340px; height: 340px; margin: 0px auto 0px auto; position: relative;}
#promotionx ul.slides li:hover a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 24px; left: 20px; -webkit-transform: translateY(0);transform: translateY(0);}
#promotionx ul.slides li a div.cont div.text div.inner {padding: 16px; text-align: center;}
#promotionx ul.slides li a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform:translateY(110px);transform:translateY(110px); -webkit-transition:.4s;transition:.4s}
.border-pro {__border: 2px solid #FFF; width: 300px; height: 300px;}
.prev, .next {
    z-index: 10;
}
.lSPrev,
.lSNext {
    background: #000;
}

#userBlockId533900 span,
#userBlockId533900 a {
    color: #696969;
}

/* Footer MY */
#userBlockId534004 {
    background: #292929;
}
.soc_icon img {
    width: 40px;
    height: 40px;
}
.soc_icon a {
    margin-right: 10px;
}