.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
ul.footer_class {
  list-style: none;
  text-align: left;
  padding: 0px 0px 0px 0px;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 24px 0px;
}
ul.footer_class li {
  list-style: none;
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 10px 0px;
}
ul.footer_class li a {
  color: #cfcfcf;
  text-decoration: none;
}
ul.footer_class li a:hover {
  color: #d57787;
}
ul.footer_class ul {
  padding: 16px 0px 0px 0px;
  font-size: 16px;
  font-weight: 300;
}
ul.footer_class ul li a {
  color: #818492;
}

.null {
  height: 0px;
  min-height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  clear: both;
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  ul.footer_class {
  }
}
@media only screen and (min-width: 1024px) {
  ul.footer_class {
  }
}

/* СЛАЙДЕР */
.workspace {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  position: relative;
}
#promotion .pro {
  padding: 64px 0px 24px 0px;
  position: relative;
}
.promotion_title {
  color: #242424;
  font-size: 2.2em;
  margin: 0px 0px 44px 0px;
  font-weight: 900;
  text-align: center;
}
.lSSlideWrapper {margin-bottom: 10px;}
#promotion ul.slides li a {color: #ebecf0;}
#promotion ul.slides li a div.cont {width: 340px; height: 340px; margin: 0px auto 0px auto; position: relative;}
#promotion ul.slides li:hover a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform: translateY(0);transform: translateY(0);}
#promotion ul.slides li a div.cont div.text div.inner {padding: 16px; text-align: center; font-size: 15px;}
#promotion ul.slides li a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform:translateY(110px);transform:translateY(110px); -webkit-transition:.4s;transition:.4s}
#promotionx ul.slides li a {color: #ebecf0;}
#promotionx ul.slides li a div.cont {width: 340px; height: 340px; margin: 0px auto 0px auto; position: relative;}
#promotionx ul.slides li:hover a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 24px; left: 20px; -webkit-transform: translateY(0);transform: translateY(0);}
#promotionx ul.slides li a div.cont div.text div.inner {padding: 16px; text-align: center;}
#promotionx ul.slides li a div.cont div.text {background: #242424; width: 300px; position: absolute; bottom: 20px; left: 20px; -webkit-transform:translateY(110px);transform:translateY(110px); -webkit-transition:.4s;transition:.4s}
.border-pro {__border: 2px solid #FFF; width: 300px; height: 300px;}
.prev, .next {
    z-index: 10;
}
.lSPrev,
.lSNext {
    background: #000;
}

/* Footer Custom */
.custom-footer {
    background: #292929;
}
.custom-footer .row > .col-xs-12,
.custom-footer .row > .col-sm-12,
.custom-footer .row > .col-md-3,
.custom-footer .row > .col-lg-3 {
    padding-right: 0;
    padding-left: 0;
}
.footer-wrap .title,
.footer-wrap .title a {
    color: #fff;
}
.footer-wrap .text,
ul.footerlist a {
    color: #9e9e9e;
}
.footer-wrap .item {
    margin-bottom: 40px;
}
.footer-wrap .item.last-item {
    margin-bottom: 0;
}
.footer-wrap .item > .title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-wrap .item .text {
    font-size: 14px;
    line-height: 1.4;
}
@media (min-width: 992px) {
    .footer-wrap .item,
    .footer-wrap .item.last-item {
        margin-bottom: 0;
    }
}
.soc_icon {
    margin-top: 10px;
}
.soc_icon img {
    width: 40px;
    height: 40px;
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.5;
}
.soc_icon a {
    margin-right: 10px;
}
ul.footerlist  {
    margin-left: 0;
    padding-left: 0;
}
ul.footerlist li  {
    list-style-type: none;
    margin-bottom: 6px;
}

#maps {
    width: 100%;
    max-width: 1920px;
    height: 500px;
    background: url(https://vebmaster.github.io/images/map_yandex.jpg) 50% 50% no-repeat;
}


/* Главная страница */
.wrapForm-main {
    max-width: 500px;
    margin: 0 auto;
}
.wrapForm-main form.form-main {
    padding: 0 !important;
    border: 0 !important;
}
form.form-main #phonecontactform-phone.form-control {
    background-color: transparent;
}
form.form-main button.btn {
    padding: 6px 12px !important;
    margin-left: -30px;
}
form.form-main .contact_form .col-xs-12,
form.form-main .contact_form .col-sm-12,
form.form-main .contact_form .col-md-6,
form.form-main .contact_form .col-lg-6 {
    padding: 0;
}
form.form-main input#phonecontactform-phone,
form.form-main button.btn {
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
}
@media (min-width: 768px) {
    form.form-main .col-sm-12 {
        width: 50%;
    }
}
form.form-main .col-xs-12 {
    width: 50%;
}
input,
textarea,
button.btn {
    outline: none;
}