ul.footer_class {
  list-style: none;
  width: 25%;
  text-align: left;
  float: left;
  padding: 0px 0px 0px 0px;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 24px 0px;
}
ul.footer_class li {
  list-style: none;
  padding: 0px 36px 0px 0px;
  margin: 0px 0px 10px 0px;
}
ul.footer_class li a {
  color: #cfcfcf;
  text-decoration: none;
}
ul.footer_class li a:hover {
  color: #d57787;
}
ul.footer_class ul {
  padding: 16px 0px 0px 36px;
  font-size: 16px;
  font-weight: 300;
}
ul.footer_class ul li a {
  color: #818492;
}

.null {
  height: 0px;
  min-height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  clear: both;
}

